*.properties
*.classpath
*.o
*.a
*.so
*.o.d
*.
*.gradle
*.bat
*.jar
gradlew
*/bin/
*.project
CSipSimple/jni/fdk_aac/sources
CSipSimple/jni/ffmpeg/ffmpeg_src
CSipSimple/jni/libvpx/sources
CSipSimple/jni/openssl/sources
CSipSimple/jni/opus/sources
gen/
.idea/
.settings/
tash